<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <%= link_to "javascript:;", data: {toggle: "collapse", target: "#category-#{taxonomy.id}"} do %>
              <%= taxonomy.name %>
              <i class="fa fa-plus"></i>
            <% end %>
            <ul id="category-<%= taxonomy.id %>"  class="collapse collapseItem">
              <% taxonomy.taxons.each do |taxon| %>
                <% next unless taxon.leaf? %>
                <li>
                  <%= link_to potepan_category_path(taxon.id) do %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <%= taxon.name %>
                    <span>(<%= taxon.products.count %>)</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
